#
#  configuration file for mailtom
#
#  this is an example of configuration file
#  update it to your needs, and put in it $HOME/.mailtom.cfg
#  or use the command line option '-c' of mailtom
#
#  Damien Couroussé, 140221
#
# all the options below can be overriden by command line options

[fetch_mail]

server  = localhost
port    = 110
user    = damien
savedir = /home/damien/org/attachments
passwd     = passwd
delete_msg = True